@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none
}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  @apply bg-white;
  @apply dark:bg-darkmode_bg;
  @apply transition-bg-color transition-text-color duration-300 ease-in-out;
}
